/* NavBars */
@media (max-width: 575.98px) { 
    .navbartop{
        visibility: hidden;
    }
    .footerDesktop{
        visibility: hidden;
    }
}
@media (min-width: 576px) { 
    .navbarbottom{
        visibility: hidden;
    }
}
/* Footer Desktop */
.footertext1{
    margin-top: 50px;
    font-size: 0.8em;
    text-align: center;
}
.footertext-links{
    margin-top: 10px;
    font-size: 0.8em;
    text-align: center;
    
}
.footertext-links a:link, a:visited, a:focus {
    text-decoration:none;
    color: black;
}

/* PAGE ACCUEIL */
/* Barre de recherche */
.search_bar{
    border-radius: 25px 0px 0px 25px;
    padding: 0px;
    padding-left: 15px;
    height:auto;
}
.search_icon{
    height: auto;
    width: auto;
}

.recettes{
    margin-top: 60px;
}
.recettesRow{
    display: flex;    
}

/* PAGE CONNEXION */
/* Connexion */
#panneauConnexion{
    height: 400px;
    width: 750px;
    background-color: rgb(240, 240, 240);
    margin: auto;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
#panneauCreaCpte{
    height: 400px;
    width: 750px;
    background-color: rgb(240, 240, 240);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* PAGE CREATION RECETTE */
.maCreationR{
    margin:60px;
}
.cardR{
    padding:50px;
}

.titreCardRecette{
    margin-top:30px;
    font-size: 2.5em;
}
.titreinfo1R{
    margin-top:60px;
    font-size: 1.5em;
}
.card-img_cuisiner{
    opacity:0.2;
}
.poidsR{
    margin-top:40px;
}
.recettePreparation{
    margin-top:30px;
}
.validAjouR{
    margin-top:40px;
    margin-right: 50px;
}
