/* NavBars */
@media (max-width: 575.98px) { 
    .navbartop{
        visibility: hidden;
    }
    .footerDesktop{
        visibility: hidden;
    }
}
@media (min-width: 576px) { 
    .navbarbottom{
        visibility: hidden;
    }
}
/* Footer Desktop */
.footertext1{
    margin-top: 50px;
    font-size: 0.8em;
    text-align: center;
}
.footertext-links{
    margin-top: 10px;
    font-size: 0.8em;
    text-align: center;
    
}
.footertext-links a:link, a:visited, a:focus {
    text-decoration:none;
    color: black;
}

/* PAGE ACCUEIL */

/* Menu de navigation */
#menu_navigation{
    display : flex;
    flex-direction : column;
    align-items : center;
    width : 100px;
    height: 100px;
    border-radius : 4%;
    box-shadow: lightgrey 3px 3px 3px;
    background-color: rgb(247, 247, 247);
    position : absolute;
    right : 0px;
    top : 50px
    z-index = 10;
}

/* Barre de recherche */
.search_bar{
    border-radius: 25px 0px 0px 25px;
    padding: 0px;
    padding-left: 15px;
    height:auto;
}
.search_icon{
    height: auto;
    width: auto;
}

.recettes{
    margin-top: 60px;
}
.recettesRow{
    display: flex;    
}

/* PAGE CONNEXION */
/* Connexion */
#panneauConnexion{
    height: 400px;
    width: 750px;
    background-color: rgb(240, 240, 240);
    margin: auto;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
#panneauCreaCpte{
    height: 400px;
    width: 750px;
    background-color: rgb(240, 240, 240);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* MES RECETTES (QUAND L'UTILISATEUR SE CONNECTE */
#conteneur_recettes_perso{
    background-color: rgb(240, 240, 240);
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content: flex-start;
}

#creer_recette{
    width : 30%;
    height : 100px;
    font-size: 2em;
    margin-top : 30px;
    margin-bottom : 30px;
}

/* PAGE CREATION RECETTE */
.creationR{

}

/* MES FAVORIS */
#conteneur_favoris{
    background-color: rgb(240, 240, 240);
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content: flex-start;
}
