/* NavBars */
@media (max-width: 575.98px) { 
    .logoMenu{
        visibility: hidden;
    }
    .LCB{
		margin-left:10px;	
		font-size:1.5em;
	}
    .footerDesktop{
        visibility: hidden;
    }  
}
@media (min-width: 576px) { 
    .navbarbottom{
        visibility: hidden;
    }
}
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Lalezar|Mansalva|Monda|Righteous&display=swap');
/*
font-family: 'Righteous', cursive;
font-family: 'Monda', sans-serif;
font-family: 'Lalezar', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Mansalva', cursive;
font-family: 'Itim', cursive;
font-family: 'Coustard', serif;
font-family: 'Delius', cursive;
font-family: 'Lacquer', sans-serif;
font-family: 'Freckle Face', cursive;
*/
/*
color:rgb(113, 137, 91);
color:rgb(239, 101, 55);
color:rgb(159, 82, 40);
marron
color:rgb(40, 7, 5)
vert
color:rgb(78, 131, 38);
orange
color:rgb(204, 89, 46);
*/
.logoLCB{
	padding-bottom:10px;
}
.LCB{
	margin-left:30px;	
	color:rgb(40, 7, 5);
	font-size:2.3em;
	font-family: 'Freckle Face', cursive;
}
.LCB_letter{
	color:rgb(204, 89, 46) !important;
}
.logoMenu:hover{
	width:62px;
	height:62px;

}

h1{
	font-family: 'Itim', cursive;
    text-align: center;
    font-size: 35px;
    padding:1rem;
    margin: 1rem;
}
/* Footer Desktop */
.footertext1{
    margin-top: 50px;
    font-size: 0.8em;
    text-align: center;
    color:rgb(78, 131, 38);
}
.footertext-links{
    margin-top: 10px;
    font-size: 0.8em;
    text-align: center;
    color:black;
}
.footertext-links a:link, a:visited, a:focus {
    text-decoration:none;
    color:black;
}
.love{
	color:rgb(204, 89, 46);
	font-weight:bold;
	font-size: 1.2em;
}

/* MENU */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a , .sidenav p{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  color:rgb(78, 131, 38);
  top: 0;
  right: 25px;
  font-size: 40px;
  font-weight:bold;
  margin-left: 50px;
}
#pseudo{
	color: #f1f1f1;
	font-size: 2em;
}
/*
.barreMenu{
	position: relative;
	color: white;
	height:2px;
	z-index: auto;
}
*/


/* PAGE ACCUEIL */
/* Barre de recherche */
.bar{
	margin-top:30px;
}
.search_bar{
    border-radius: 50px 0px 0px 50px;
    padding: 0px;
    padding-left: 15px;
    height:100%;
}
.search_icon{
    height: 100%;
    width: auto;
}


/* CARDS RECETTE */
.recettes{
    margin-top: 60px;
}
.recettesRow{
    display: flex; 
    justify-content: center;   
}
.cardRecette{
	max-width:300px;
	display:flex;
	padding: 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	border-radius: 10px;
	margin: 20px;
}
.cardRecette:hover {
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
.cardRecette:hover .cardImageRecette{
	opacity: 0.5;
  	filter: alpha(opacity=50);
}
.thumbnail{
	width: 100%;
}
.card-image-container {
	border-radius: 10px 10px 0 0;
    width: 100%;
    height: 211px;
    position: relative;
    overflow: hidden;
}

.card-image-container img {
	border-radius: 10px 10px 0 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.cardImageRecette{
	border-radius: 10px 10px 0 0;
	width: 100%;
	max-width:300px;
}
.cardTitreRecette{
	height:90px;
	letter-spacing: .1.5rem;
	text-align:center;
	padding:10px 20px;
	-webkit-line-clamp: 2;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.cardTextRecette{
	text-align:justify;
	padding:10px 20px;
	-webkit-line-clamp: 4;
	height: 6.5rem;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.cardLinkRecette{
    vertical-align: bottom;
	color: rgb(67, 123, 28);
	margin:30px 20px;
	text-align: center;
	font-style: italic;
	font-size: 1.2em;
}
.cardLinkRecette a:hover{
	font-weight: bold;
	color: rgb(67, 123, 28);
	text-decoration: none;
}
.cardLinkRecette a:link {
	color: rgb(67, 123, 28);
	text-decoration: none;
}
.cardLinkRecette a:visited {
	color: rgb(67, 123, 28);
	text-decoration: none;
}
.cardLinkRecette a:active {
	color: rgb(67, 123, 28);
	text-decoration: none;
}

/* PAGE CONNEXION */
/* Connexion */
#have_account{
	text-decoration: none;
	color:rgb(67, 123, 28);
	padding:10px;
}
#have_account:hover{
	text-decoration: none;
	color:rgb(67, 123, 28);
	font-weight: bold;
}
#create_account{
	text-decoration: none;
	color:rgb(67, 123, 28);
	padding:10px;
}
#create_account:hover{
	text-decoration: none;
	color:rgb(67, 123, 28);
	font-weight: bold;
}

.main_connexion{
    flex-direction: column;
}

input {
    height: 35px;
    background-color: rgb(232,240,254);
}

#connexion_form{
    border: 1px solid rgb(199, 199, 199);
    border-radius: 3%;

}
#cree_compte_form {
    border: 1px solid rgb(199, 199, 199);
    border-radius: 3%;
}

.statique{
    text-align: center;
}
button{
    padding:0.5rem;
    margin: 1rem;
    font-weight: bold;
}
.pswd{ 
    background-image:url(https://img.icons8.com/office/25/000000/lock-2.png); 
    background-repeat: no-repeat; 
    background-position: 5px 3px;
    padding-left: 40px;
    border-radius: 5px;
    outline: none;
    border: solid 1px rgb(163, 163, 163);
    }
.user{ 
    background-image:url(https://img.icons8.com/ultraviolet/25/000000/user.png); 
    background-repeat: no-repeat; 
    background-position: 5px 3px;
    padding-left: 40px;
    border-radius: 5px;
    border: solid 1px rgb(163, 163, 163);
    }
.email{ 
    background-image:url(https://img.icons8.com/ultraviolet/25/000000/email.png); 
    background-repeat: no-repeat; 
    background-position: 5px 3px;
    padding-left: 40px;
    border-radius: 5px;
    border: solid 1px rgb(163, 163, 163);
    }

input:focus {
        box-shadow: 0 0 2pt 2pt  rgb(126, 181, 206);
        outline-color: rgb(126, 181, 206);
    }

/* MES RECETTES (QUAND L'UTILISATEUR SE CONNECTE */
#conteneur_recettes_perso{
    display : flex;
}
.allerAjouR{
    margin-top:40px;
    margin-right: 50px;
}

/* PAGE CREATION RECETTE */
.maCreationR{
    margin:60px;
}
.cardR{
    padding:50px;
}
.titreCardRecette{
    margin-top:30px;
    font-size: 2.5em;
}
.titreinfo1R{
    margin-top:60px;
    font-size: 1.5em;
}
.poidsR{
    margin-top:40px;
}
.recettePreparation{
    margin-top:30px;
}
.validAjouR{
    margin-top:40px;
    margin-right: 50px;
}
.titrePpl{
    width : 50%;
    display : inline-block;
    font-weight : bold;
}
.titre{
    width : 20%;
    display : inline-block;
    font-weight : bold;
}
.listeIngredient{
	font-size: 1.2em;
}

.tableauNutri{
	margin-top: 30px;
}
.titreTableau{
	margin:30px;
	text-align: center;
}
.ctnr{
    border-top : solid grey 1px;
}
.nomNut{
    width : 100px;
    display: inline-block;
    vertical-align : top;
}
.nut1{
    width:40%;
    display: inline-block;
	flex-direction: row;
    justify-content: flex-start;
}
.nut2{
    width:20%;
    display: inline-block;
    
}

.nutri{
	width : 60px;
    margin-left: 30px;
    display : inline-block;
    vertical-align : top;
}

.total{
	vertical-align : top;
	margin-left: 30px;
}
.pP{
    vertical-align : top;
}
.ingredients{
	display : inline-block;
}
.quantites{
	display : inline-block;
}
/* ajout photo */
.ajoutImage{
	margin-top:40px;
}

/* DETAIL RECETTE */
.table>thead>tr {
	background-color:rgb(204, 89, 46);
	color:white;
	border-color: rgb(204, 89, 46);
}
.quantity {
	background-color:rgb(78, 131, 38) !important;
	color:white;

}

/* MES FAVORIS */
#conteneur_favoris{
    background-color: rgb(240, 240, 240);
    display : flex;
    flex-direction : column;
    align-items : center;

}

.hidden{
	visibility: hidden;
}

