/* NavBars */
@media (max-width: 575.98px) { 
    .navbartop{
        visibility: hidden;
    }
    .footerDesktop{
        visibility: hidden;
    }
}
@media (min-width: 576px) { 
    .navbarbottom{
        visibility: hidden;
    }
}
/* MENU */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a , .sidenav p{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Footer Desktop */
.footertext1{
    margin-top: 50px;
    font-size: 0.8em;
    text-align: center;
}
.footertext-links{
    margin-top: 10px;
    font-size: 0.8em;
    text-align: center;
    
}
.footertext-links a:link, a:visited, a:focus {
    text-decoration:none;
    color: black;
}


/* PAGE ACCUEIL */
/* Barre de recherche */
.search_bar{
    border-radius: 25px 0px 0px 25px;
    padding: 0px;
    padding-left: 15px;
    height:100%;
}

.search_icon{
    height: 100%;
    width: auto;
}


/* CARDS RECETTE */
.recettes{
    margin-top: 60px;
}
.recettesRow{
    display: flex; 
    justify-content: center;   
}
.cardRecette{
	max-width:300px;
	display:flex;
	padding: 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	border-radius: 10px;
	margin: 20px;
}
.cardRecette:hover {
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
.cardRecette:hover .cardImageRecette{
	opacity: 0.5;
  	filter: alpha(opacity=50);
}
.cardImageRecette{
	border-radius: 10px 10px 0 0;
	width: 100%;
  	height: auto;
}
.cardTitreRecette{
	height:90px;
	letter-spacing: .1.5rem;
	text-align:center;
	padding:10px 20px;
	-webkit-line-clamp: 2;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.cardTextRecette{
	text-align:justify;
	padding:10px 20px;
	-webkit-line-clamp: 4;
	height: 6.5rem;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.cardLinkRecette{
    vertical-align: bottom;
	color: orange;
	margin:30px 20px;
	text-align: center;
	font-style: italic;
	font-size: 1.2em;
}
.cardLinkRecette a:hover{
	font-weight: bold;
	color: orange;
	text-decoration: none;
}
.cardLinkRecette a:link {
	color: orange;
	text-decoration: none;
}
.cardLinkRecette a:visited {
	color: orange;
	text-decoration: none;
}
.cardLinkRecette a:active {
	color: orange;
	text-decoration: none;
}

/* PAGE CONNEXION */
/* Connexion */
.main_connexion{
    flex-direction: column;
}

input {
    height: 35px;
    background-color:rgb(232,240,254);
}

#connexion_form{
    border: 1px solid rgb(199, 199, 199);
    border-radius: 3%;

}
#cree_compte_form {
    border: 1px solid rgb(199, 199, 199);
    border-radius: 3%;
}

.statique{
    text-align: center;
}
h1{
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding:1rem;
    margin: 1rem;
}
button{
    padding:0.5rem;
    margin: 1rem;
    font-weight: bold;
}
.pswd{ 
    background-image:url(https://img.icons8.com/office/25/000000/lock-2.png); 
    background-repeat: no-repeat; 
    background-position: 5px 3px;
    padding-left: 40px;
    border-radius: 5px;
    outline: none;
    border: solid 1px rgb(163, 163, 163);
    }
.user{ 
    background-image:url(https://img.icons8.com/ultraviolet/25/000000/user.png); 
    background-repeat: no-repeat; 
    background-position: 5px 3px;
    padding-left: 40px;
    border-radius: 5px;
    border: solid 1px rgb(163, 163, 163);
    }
.email{ 
    background-image:url(https://img.icons8.com/ultraviolet/25/000000/email.png); 
    background-repeat: no-repeat; 
    background-position: 5px 3px;
    padding-left: 40px;
    border-radius: 5px;
    border: solid 1px rgb(163, 163, 163);
    }

input:focus {
        box-shadow: 0 0 2pt 2pt  rgb(126, 181, 206);
        outline-color: rgb(126, 181, 206);
    }

/* MES RECETTES (QUAND L'UTILISATEUR SE CONNECTE */
#conteneur_recettes_perso{
    display : flex;
}
.allerAjouR{
    margin-top:40px;
    margin-right: 50px;
}

/* PAGE CREATION RECETTE */
.maCreationR{
    margin:60px;
}
.cardR{
    padding:50px;
}
.titreCardRecette{
    margin-top:30px;
    font-size: 2.5em;
}
.titreinfo1R{
    margin-top:60px;
    font-size: 1.5em;
}
.card-img_cuisiner{
    opacity:0.2;
}
.poidsR{
    margin-top:40px;
}
.recettePreparation{
    margin-top:30px;
}
.validAjouR{
    margin-top:40px;
    margin-right: 50px;
}
.titrePpl{
    width : 50%;
    display : inline-block;
}
.titre{
    width : 20%;
    display : inline-block;
}
.listeIngredient{
	font-size: 1.2em;
}

.tableauNutri{
	margin-top: 30px;
}
.titreTableau{
	margin:30px;
	text-align: center;
}
.ctnr{
    border-top : solid grey 1px;
}
.nomNut{
    width : 100px;
    display: inline-block;
}
.nut1{
    width:40%;
    display: inline-block;
	flex-direction: row;
    justify-content: flex-start;
    
}
.nut2{
    width:20%;
    display: inline-block;
    
}

.nutri{
	width : 50px;
    margin-left: 30px;
    display : inline-block;
}

.total{
	
	margin-left: 30px;
}
.ingredients{
	display : inline-block;
}
.quantites{
	display : inline-block;
}

/* MES FAVORIS */
#conteneur_favoris{
    background-color: rgb(240, 240, 240);
    display : flex;
    flex-direction : column;
    align-items : center;

}


