/* NavBars */
@media (max-width: 575.98px) { 
    .navbartop{
        visibility: hidden;
    }
    .footerDesktop{
        visibility: hidden;
    }
}
@media (min-width: 576px) { 
    .navbarbottom{
        visibility: hidden;
    }
}
/* Footer Desktop */
.footertext1{
    margin-top: 50px;
    font-size: 0.8em;
    text-align: center;
}
.footertext-links{
    margin-top: 10px;
    font-size: 0.8em;
    text-align: center;
    
}
.footertext-links a:link, a:visited, a:focus {
    text-decoration:none;
    color: black;
}

/* PAGE ACCUEIL */

/* Menu de navigation */
#menu_navigation{
    display : flex;
    flex-direction : column;
    align-items : center;
    width : 100px;
    padding-bottom: 5px;
    border-radius : 4%;
    box-shadow: lightgrey 3px 3px 3px;
    background-color: rgb(247, 247, 247);
    position : absolute;
    right : 0px;
    top : 50px
    z-index = 10;
}

/* Barre de recherche */
.search_bar{
    border-radius: 25px 0px 0px 25px;
    padding: 0px;
    padding-left: 15px;
    height:100%;
}

.search_icon{
    height: 100%;
    width: auto;
}

.recettes{
    margin-top: 60px;
}
.recettesRow{
    display: flex;    
}

/* PAGE CONNEXION */
/* Connexion */
.main_connexion{
    flex-direction: column;
}

input {
    height: 35px;
    background-color:rgb(232,240,254);
}

#connexion_form{
    border: 1px solid rgb(199, 199, 199);
    border-radius: 3%;

}
#cree_compte_form {
    border: 1px solid rgb(199, 199, 199);
    border-radius: 3%;
}

.statique{
    text-align: center;
}

h1{
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding:1rem;
    margin: 1rem;
    text-shadow: 1px 1px 4px black, -1px -1px 4px black;
    width: 100%;
}
button{
    padding:0.5rem;
    margin: 1rem;
    font-weight: bold;
}
.pswd{ 
    background-image:url(https://img.icons8.com/office/25/000000/lock-2.png); 
    background-repeat: no-repeat; 
    background-position: 5px 3px;
    padding-left: 40px;
    border-radius: 5px;
    outline: none;
    border: solid 1px rgb(163, 163, 163);
    }
.user{ 
    background-image:url(https://img.icons8.com/ultraviolet/25/000000/user.png); 
    background-repeat: no-repeat; 
    background-position: 5px 3px;
    padding-left: 40px;
    border-radius: 5px;
    border: solid 1px rgb(163, 163, 163);
    }
.email{ 
    background-image:url(https://img.icons8.com/ultraviolet/25/000000/email.png); 
    background-repeat: no-repeat; 
    background-position: 5px 3px;
    padding-left: 40px;
    border-radius: 5px;
    border: solid 1px rgb(163, 163, 163);
    }

input:focus {
        box-shadow: 0 0 2pt 2pt  rgb(126, 181, 206);
        outline-color: rgb(126, 181, 206);
    }

/* MES RECETTES (QUAND L'UTILISATEUR SE CONNECTE */
#conteneur_recettes_perso{
    background-color: rgb(240, 240, 240);
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content: flex-start;
}

#creer_recette{
    width : 30%;
    height : 100px;
    font-size: 2em;
    margin-top : 30px;
    margin-bottom : 30px;
}

/* PAGE CREATION RECETTE */
.maCreationR{
    margin:60px;
}
.cardR{
    padding:50px;
}

.titreCardRecette{
    margin-top:30px;
    font-size: 2.5em;
}
.titreinfo1R{
    margin-top:60px;
    font-size: 1.5em;
}
.card-img_cuisiner{
    opacity:0.2;
}
.poidsR{
    margin-top:40px;
}
.recettePreparation{
    margin-top:30px;
}
.validAjouR{
    margin-top:40px;
    margin-right: 50px;
}
/*
.nut{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.nutri{
	width : 50px;
	margin-left: 30px;
}
*/
.total{
	
	margin-left: 30px;
}

/* MES FAVORIS */
#conteneur_favoris{
    background-color: rgb(240, 240, 240);
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content: flex-start;
}
